@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.appMainDiv {
    background: linear-gradient(to right, #348f50, #56b4d3);
    width: 100%;
    height: 100vh;
    display: block;
    min-width: 100%;
    font-family: "Noto Sans", sans-serif;
}

.modalHeader {
    background-color: rgb(247, 199, 44);
}

.ques {
    margin-top: 20px;
}
.options {
    margin-left: 10px;
}
.q {
    font-size: 18px;
}
.op {
    font-size: 18px;
}

.uploadBtn button {
    margin-left: 20px;
}

.uploadBtn{
    padding-right: 10px;
}
table{
    width: 100%;
    border: 2px solid gray;
}
table th{
    border: 2px solid gray;
    padding: 8px;
    background-color: #0fb2df;
    color: #fff;
}
table td{
    border: 2px solid gray;
    padding: 8px;
}